* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  background-image: url("/images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  padding: 0 0 15vh 0;
  height: 100%;
}

.heroSection,
.formSection {
  margin: 0 6.4%;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 8vh;
  text-align: center;
}

.mainText {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 2vh;
  text-align: center;
}

.addBlock {
  background: #5e54a4;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  margin-top: 5vh;
}

.addBlock span {
  font-weight: bold;
}

.addBlock > p {
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

form {
  background: #ffffff;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  padding: 15px 0 25px 0;
  margin-top: 3vh;
}

form input {
  padding: 26px 0;
  margin: 10px 5%;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 5px;
  width: 90%;
}

form input[type="text"] {
  padding-left: 5%;
}

form input[type="password"] {
  padding-left: 5%;
}

form input::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: 0.25px;
  color: #3d3b48;
  mix-blend-mode: normal;
}

.formBlock {
  position: relative;
}

.formBlock input {
  display: block;
  height: 56px;
}

.formBlock i {
  background-image: url("/images/icon-error.svg");
  position: absolute;
  top: 18px;
  right: 55px;
  height: 24px;
  width: 24px;
  visibility: hidden;
}

.formBlock small {
  color: #ff7979;
  font-style: italic;
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 1rem;
  margin-left: 45%;
  visibility: hidden;
}

.formBlock.failure input {
  border: 2px solid #ff7979;
}

.formBlock.failure i {
  visibility: visible;
}

.formBlock.failure small {
  visibility: visible;
}

button {
  background: #38cc8b;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  margin: 10px 5%;
  width: 90%;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.625rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}

button:hover {
  background: #77e2b3;
  cursor: pointer;
}

.termsOfService {
  margin-top: 1vh;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #bab7d4;
}

.termsOfService span a {
  color: #ff7979;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  margin-top: 20px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  .formBlock small {
    margin-left: 70%;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding-bottom: 25vh;
  }

  .heroSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 8% 6% 0 0%;
  }

  h1,
  .mainText {
    text-align: left;
    width: 75%;
  }

  h1 {
    font-size: 3.125rem;
    letter-spacing: -0.520833px;
    line-height: 3.4375rem;
  }

  .mainText > br {
    display: none;
  }

  .formSection {
    margin: 6.1% 6% 0 0;
    width: 75%;
  }

  form {
    padding: 4vh 1vw;
  }

  .formBlock small {
    margin-left: 65%;
  }

  .termsOfService > br {
    display: none;
  }

  .attribution {
    margin-top: 25vh;
  }
}
