* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("/images/bg-intro-mobile.png");
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 6.4%;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 8vh;
  text-align: center;
}

.mainText {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 2vh;
  text-align: center;
}

.addBlock {
  background: #5e54a4;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  margin-top: 5vh;
}

.addBlock > p {
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

form {
  background: #ffffff;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  padding: 15px 0 0 30px;
  margin-top: 4vh;
}

form input {
  padding: 26px 0;
  margin: 10px auto;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 5px;
  width: 90%;
}

form input::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: 0.25px;
  color: #3d3b48;
  mix-blend-mode: normal;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
